{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ topic.title }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ topic.message }}</td>
            </tr>
            <tr>
                <th>Viewed</th>
                <td>{{ topic.viewed }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ topic.createdAt ? topic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ topic.updatedAt ? topic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        {{ form(answerForm, {'method': 'POST'}) }}
    </div>

    <a href="{{ path('topic_index') }}">back to list</a>

    <a href="{{ path('topic_edit', {'id': topic.id}) }}">edit</a>

    {{ include('topic/_delete_form.html.twig') }}

    <div>
        <h3>Réponses</h3>
        <div>
            {% for answer in topic.answers %}
                <div>
                    {{ answer.message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
